* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-weight: 500;
}
h2 {
    font-weight: 400; 
    font-size: 1.3rem; 
}

p {
    font-size: .95rem; 
    margin: .5rem 0 1rem;
}

.break-line{
    height: .8px; 
    width: 100%; 
    margin-top: 2.5rem; 
    background-color: rgb(194, 194, 194);
}

/* navbar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 3.7rem;
    background-color: rgb(252, 132, 53);
}

.logo a, .logo h4 {
    color: rgb(247, 247, 247);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 17%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: rgb(247, 247, 247);
    text-decoration: none;
}
.nav-links a:hover {
    color: rgb(241, 181, 141);
}

.toggler {
    display: none;
}
.toggler div {
    width: 22px;
    height: 2px;
    background-color: rgb(247, 247, 247);
    margin: 5px;
}

/* grid */
.side-bar {
    background-color: rgb(241, 241, 241); 
    width: 18%; 
    display: flex; 
    justify-content: center; 
    padding: 3rem 0 3rem;
}

.main-content {
    background-color: rgb(255, 255, 255); 
    padding: 2rem; 
    width: 64%;
}

/* ad */
.ad {
    background-color: rgb(148, 194, 179); 
    width: 80%; 
    text-align: center;
}

/* welcome message */
#msg-welcome {
    padding: 2rem 2rem 1rem;
}

#welcome-grid-left {
    width: 60%;
}
#welcome-grid-right {
    width: 40%; 
    display: flex; 
    justify-content: center;
}

#close-welcome-msg {
    background-color: rgb(252, 132, 53); 
    color: white; 
    width: 8rem; 
    height: 1.3rem; 
    border: none; 
    cursor: pointer;
}
#close-welcome-msg:hover {
    background-color: rgb(219, 114, 44);
}

/* user profile */
/* new plan card */
#new-plan-card-session, #workout-plan-session {
    padding: 1rem 2.2rem 1rem;
}

.card {
    min-width: 28rem;  
    width: 30rem;  
    background-color: rgb(46, 196, 71); 

    padding: .5rem .8rem .5rem;                
    border-radius: 15px 15px 15px 15px; 
    border: 6px solid white;          
    box-shadow: 0px 2px 13px 0px #888888; 
    color: rgb(247, 247, 247);

    align-items: center;
}

.btn-sm {
    width: 16px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: grey;
}
.btn-sm:hover {
    background-color: rgb(230, 230, 230);
}
.btn-sm-l {
    width: 13px;
    height: 30px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background-color: white;
    color: grey;
}
.btn-sm-r {
    width: 13px;
    height: 30px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
    color: grey;
}

#btn-add-new-plan {
    background-color: transparent; 
    color: white;     
    font-size: 3rem; 
    width: 60px; 
    height: 60px;                 
    border-radius: 50%; 
    border: none; 
    padding-right: 1.4rem;
}

#btn-add-new-plan:hover {
    color: rgb(226, 226, 226);  
}

/* footer */
footer {
    color: rgb(247, 247, 247);
    width: 100%; 
    padding: 3rem 4.5rem 2rem;
}

#footer-content {
    color: rgb(247, 247, 247);
}

footer li, footer a {
    list-style: none;
    color: rgb(247, 247, 247);
    margin-top: .5rem;
    font-weight: 400;
    text-decoration-line: none;
}
footer a:hover {
    color: rgb(241, 181, 141);
}

#footer-grid-1 {
    width: 40%;
}
#footer-grid-2 {
    width: 20%;
}
#footer-grid-3, #footer-grid-4 {
    width: 20%;
}

#footer-grid-2, #footer-grid-3, #footer-grid-4 {
    padding-top: .2rem; 
    text-align: right;
}

@media (max-width: 576px) {
    body {
        overflow-x: hidden;
    }

    /* navbar */
    nav {
        justify-content: space-between;
        padding: 0 2rem 0;
    }

    .toggler {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        background-color: rgb(185, 129, 91);

        position: absolute;
        left: 0px;
        height: 0rem;
        width: 100%;
        top: 3.7rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        transform: translateY(20);
        transition: 0.2s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }

    .nav-active {
        height: 20rem;
        padding: 1.3rem 0 1.3rem;
        transition: 0.3s ease-in;
    }

    /* grid */
    .side-bar {
        display: none; 
    }

    .main-content {
        width: 100%;
        padding: 1rem; 

    }

    /* welcome message */
    #msg-welcome {
        padding: .7rem 2rem 1rem;
    }

    #welcome-grid-left {
        width: 100%;
        text-align: center;
    }
    #welcome-grid-right {
        display: none; 
    }

    /* new plan card */
    .main-content #new-plan-card-session, #workout-plan-session {
        padding: 1rem .7rem 1rem;
    }

    /* footer */
    footer {
        padding: 3rem 2rem 2rem;
    }

    #footer-grid-1 {
        width: 100%;
        text-align: center;
    }
    #footer-grid-2 {
        width: 0%;
    }
    #footer-grid-3, #footer-grid-4 {
        display: none;
        width: 25%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    /* navbar */
    .nav-links {
        width: 35%;
    }

    /* grid */
    .side-bar {
        display: none; 
    }

    .main-content {
        width: 100%;
    }

    /* welcome message */
    #msg-welcome {
        padding: .7rem 2rem 1rem;
    }

    #welcome-grid-left {
        width: 100%;
        text-align: center;
    }
    #welcome-grid-right {
        display: none; 
    }

    /* new plan card */
    .main-content #new-plan-card-session, #workout-plan-session {
        padding: 1rem 1.5rem 1rem;
    }

    /* footer */
    #footer-grid-1 {
        width: 50%;
    }
    #footer-grid-2 {
        width: 0%;
    }
    #footer-grid-3, #footer-grid-4 {
        width: 25%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    /* navbar */
    .nav-links {
        width: 30%;
    }

    /* grid */
    .side-bar {
        display: none; 
    }

    .main-content {
        width: 100%;
    }

    /* footer */
    #footer-grid-1 {
        width: 45%;
    }
    #footer-grid-2 {
        width: 15%;
    }
    #footer-grid-3, #footer-grid-4 {
        width: 20%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* navbar */
    .nav-links {
        width: 23%;
    }

    /* footer */
    #footer-content {
        padding: 0rem 5rem 0rem;
    }
}

@media (min-width: 1200px) {
    /* footer */
    #footer-content {
        padding: 0rem 14rem 0rem;
    }
    #footer-grid-1 {
        width: 45%;
    }
    #footer-grid-2 {
        width: 25%;
    }
    #footer-grid-3, #footer-grid-4 {
        width: 10%;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(20rem)
    } to {
        opacity: 1;
        transform: translateX(1rem);
    }
}

/* Utilities */
.d-flex {
    display: flex;
}